<!--<p-button label="Menu" style="position: absolute; top: 0px; left: 0px; z-index: 2;"-->
<!--(onClick)="displaySidebar = true"></p-button>-->

<!--<p-sidebar [(visible)]="displaySidebar" appendTo="body">-->

<div style="display: flex; flex-direction: column; width: 300px; align-items: flex-start; overflow-y: auto"
     class="menu">
  <h3>Genetic Bots</h3>

  <div class="settings-row">
    <label>stepCount</label>
    <p-spinner size="30" [(ngModel)]="settings.stepCount" [inputStyle]="{'width': '100%'}"></p-spinner>
  </div>

  <div class="settings-row">
    <label>botCount</label>
    <p-spinner size="30" [(ngModel)]="settings.botCount" [inputStyle]="{'width': '100%'}"></p-spinner>
  </div>
  <div class="settings-row">
    <label>botMemoryLength</label>
    <p-spinner size="30" [(ngModel)]="settings.botMemoryLength" [inputStyle]="{'width': '100%'}"></p-spinner>
  </div>


  <div class="settings-row">
    <label>map width/height</label>
    <p-spinner size="30" [(ngModel)]="settings.width" [inputStyle]="{'width': '100%'}"></p-spinner>
    <p-spinner size="30" [(ngModel)]="settings.height" [inputStyle]="{'width': '100%'}"></p-spinner>
  </div>

  <div class="settings-row">
    <label>eating {{eatingPercent}}%</label>
    <p-spinner size="30" [(ngModel)]="eatingPercent" [inputStyle]="{'width': '100%'}"></p-spinner>

  </div>

  <div class="settings-row">
    <label>poison {{poisonPercent}}%</label>
    <p-spinner size="30" [(ngModel)]="poisonPercent" [inputStyle]="{'width': '100%'}"></p-spinner>

  </div>

  <div class="settings-row">
    <label>wall {{wallPercent}}%</label>
    <p-spinner size="30" [(ngModel)]="wallPercent" [inputStyle]="{'width': '100%'}"></p-spinner>
  </div>

  <div class="settings-row">
    <label>simToLast</label>
    <input type="checkbox" [(ngModel)]="settings.simToLast">
  </div>


  <button (click)="startSim()">Start</button>
  <button (click)="sim.stopSim()">Stop</button>

  <div *ngIf="sim.world" style="display: flex; flex-direction: column;">
    <h3>Status</h3>
    <!--<div class="settings-row">-->
    <!--<label>-->
    <!--<span>Speed</span>-->

    <!--</label>-->
    <!--<p-spinner size="30" [(ngModel)]="speed" [inputStyle]="{'width': '100%'}"></p-spinner>-->


    <!--</div>-->
    <div style="display: flex; flex-direction: row;">
      <p-checkbox [(ngModel)]="settings.showMap" binary="true"></p-checkbox>
      <span>By Step Mode</span>
    </div>

    <div style="display: flex; flex-direction: row;">
      <p-checkbox [(ngModel)]="settings.notSoFast" binary="true"></p-checkbox>
      <span>Not so fast</span>
    </div>

    <div style="display: flex; flex-direction: row;" *ngIf="settings.showMap">
      <p-button label="Search best bot" (onClick)="showBestBot()"></p-button>
    </div>
    <!--<p-slider [(ngModel)]="speed" [style]="{'width': '100%'}" [min]="1" [max]="settings.stepCount + 1"-->
    <!--[step]="1"></p-slider>-->

    <span>Generation:  {{sim.iGeneration}}</span>
    <span>Step:  {{sim.iStep}} / {{settings.stepCount}}</span>
    <span>Live Bots:  {{sim.world.liveBotsCount}} / {{settings.botCount}}</span>

    <!--<input type="checkbox" [(ngModel)]="showMap">-->
    <!--<input type="number" [(ngModel)]="showMapStep" style="width: 50px">-->

    <svg style="height: 200px; border: 1px solid gray;" *ngIf="sim.lastStepCounts.length">

      <rect *ngFor="let h of sim.lastStepCounts; let index=index;"
            fill="black"
            [attr.x]="''+(index *100  / sim.lastStepCounts.length)+'%'"
            [attr.y]="0"
            [attr.width]="4"
            [attr.height]="''+(h * 100/ settings.stepCount)+'%'"/>
      <!--<text x="0" y="30">-->
      <!--Mid: {{stepCountHistoryMid}}-->
      <!--</text>-->
    </svg>
    <pre style="white-space: pre-wrap;">{{sim.info}}</pre>
  </div>
</div>
<!--</p-sidebar>-->


<app-canvas2 #canvas style="flex: 1" (repaint)="repaint()" [scaleFactor]="0"></app-canvas2>
<!--<div *ngIf="settings.showMap && sim.world" style="display: flex; flex-direction: column; flex: 1;">-->
<!--<div *ngFor="let row of sim.world.map" class="row">-->
<!--<div *ngFor="let cell of row" class="cell" [ngClass]="cell.cls">-->
<!--<div style="position: absolute;">{{cell.text}}</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<div *ngIf="!showMap " style="display: flex; flex-direction: row; flex: 1;">-->
<!--<div *ngFor="let h of stepCountHistory" [style.height]="''+h.toString()+'%'" style="background: red; flex: 1;"></div>-->
<!--</div>-->
