:host {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.menu>*{
  flex-shrink: 0;
}


.settings-row
{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.settings-row :first-child
{
  width: 150px;
}
.settings-row :nth-child(2)
{
  flex: 1;
}
.settings-row :nth-child(3)
{
  flex: 1;
}
.settings-row :nth-child(4)
{
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1
}

.cell {
  flex: 1;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  //border: 0.1px solid lightgray;
}

.emptyCell
{

}

.grassCell
{
  background: greenyellow;
}

.botCell
{
  background: blue;
  color: white;
}

.poisonCell
{
  background: red;
}

.wallCell
{
  background: black;
}



